In [18]:
import pandas as pd

In [32]:
citi_201801 = pd.read_csv("../citibike/201801-citibike-tripdata.csv")
citi_201802 = pd.read_csv("../citibike/201802-citibike-tripdata.csv")
citi_201803 = pd.read_csv("../citibike/201803-citibike-tripdata.csv")
citi_201804 = pd.read_csv("../citibike/201804-citibike-tripdata.csv")
citi_201805 = pd.read_csv("../citibike/201805-citibike-tripdata.csv")
citi_201806 = pd.read_csv("../citibike/201806-citibike-tripdata.csv")
citi_201807 = pd.read_csv("../citibike/201807-citibike-tripdata.csv")
citi_201808 = pd.read_csv("../citibike/201808-citibike-tripdata.csv")
citi_201809 = pd.read_csv("../citibike/201809-citibike-tripdata.csv")
citi_201810 = pd.read_csv("../citibike/201810-citibike-tripdata.csv")
citi_201811 = pd.read_csv("../citibike/201811-citibike-tripdata.csv")
citi_201812 = pd.read_csv("../citibike/201812-citibike-tripdata.csv")

In [33]:
citi_frames = [citi_201801, citi_201802, citi_201803, citi_201804, citi_201805, citi_201806, citi_201807, citi_201808, citi_201809, citi_201810, citi_201811, citi_201812]
citi_result = pd.concat(citi_frames)
citi_result.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,970,2018-01-01 13:50:57.4340,2018-01-01 14:07:08.1860,72.0,W 52 St & 11 Ave,40.767272,-73.993929,505.0,6 Ave & W 33 St,40.749013,-73.988484,31956,Subscriber,1992,1
1,723,2018-01-01 15:33:30.1820,2018-01-01 15:45:33.3410,72.0,W 52 St & 11 Ave,40.767272,-73.993929,3255.0,8 Ave & W 31 St,40.750585,-73.994685,32536,Subscriber,1969,1
2,496,2018-01-01 15:39:18.3370,2018-01-01 15:47:35.1720,72.0,W 52 St & 11 Ave,40.767272,-73.993929,525.0,W 34 St & 11 Ave,40.755942,-74.002116,16069,Subscriber,1956,1
3,306,2018-01-01 15:40:13.3720,2018-01-01 15:45:20.1910,72.0,W 52 St & 11 Ave,40.767272,-73.993929,447.0,8 Ave & W 52 St,40.763707,-73.985162,31781,Subscriber,1974,1
4,306,2018-01-01 18:14:51.5680,2018-01-01 18:19:57.6420,72.0,W 52 St & 11 Ave,40.767272,-73.993929,3356.0,Amsterdam Ave & W 66 St,40.774667,-73.984706,30319,Subscriber,1992,1

In [35]:
citi_result.shape

(17548339, 15)

In [37]:
citi_result.dtypes

tripduration                 int64
starttime                   object
stoptime                    object
start station id           float64
start station name          object
start station latitude     float64
start station longitude    float64
end station id             float64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
usertype                    object
birth year                   int64
gender                       int64
dtype: object

In [ ]:
citi_mem1 = pd.read_csv("../citi_membership/data-cZMp8.csv")
citi_mem2 = pd.read_csv("../citi_membership/data-FKjZg.csv")
citi_mem3 = pd.read_csv("../citi_membership/data-pRAtm.csv")
citi_mem4 = pd.read_csv("../citi_membership/data-tqNn6.csv")

In [ ]:
data_frames = [citi_mem1, citi_mem2, citi_mem3, citi_mem4]
mem_result = pd.concat(data_frames)
mem_result.head()

,Date,Trips over the past 24-hours (midnight to 11:59pm),Miles traveled today (midnight to 11:59 pm),Total Annual Members (All Time),24-Hour Passes Purchased (midnight to 11:59 pm),3-Day Passes Purchased (midnight to 11:59 pm)
0,1/1/19,22145,44131,297823,2429,49
1,1/2/19,38249,58975,297908,1062,36
2,1/3/19,42181,62500,297976,969,31
3,1/4/19,44420,65739,298017,1173,33
4,1/5/19,17636,24326,298048,462,8

In [ ]:
mem_result.count()

Date                                                  365
Trips over the past 24-hours (midnight to 11:59pm)    365
Miles traveled today (midnight to 11:59 pm)           365
Total Annual Members (All Time)                       365
24-Hour Passes Purchased (midnight to 11:59 pm)       365
3-Day Passes Purchased (midnight to 11:59 pm)         365
dtype: int64

In [ ]:
# Export to csv
citi_result.to_csv("../citibike/clean_data_2018.csv")
mem_result.to_csv("../citi_membership/clean_riders_2018.csv")